<section class="hero py-16">
  <div class="container mx-auto flex items-center justify-between">
    <div class="w-1/2">
      <h6 class="text-lg"><em>Are you hungry?</em></h6>
      <h1 class="text-6xl font-bold">Don't wait !</h1>
      <button type="submit" class="btn-primary bg-orange-600 px-6 py-2 rounded-full text-white font-bold mt-4">Order Now</button>
    </div>
    <div class="w-1/2">
      <img src="/img/hero-pizza.png" alt="pizza image">
    </div>
  </div>
</section>

<section class="menu container mx-auto py-8">
  <div class="flex items-center justify-between mb-16">
    <h1 class="text-2xl font-bold">All Pizzas</h1>
    <% if(user){
      %>
      <% if(user.role === 'admin'){
        %>
        <div class="mr-20">
          <a href="/admin/create-menu" class="inline-block btn-primary cursor-pointer px-6 py-2 rounded-full text-white font-bold">
          ADD NEW ITEM</a>
        </div>
        <%
      } %>
      <%
    }%>
  </div>
  <div class="grid grid-cols-4 gap-x-12 gap-y-16">

    <% menus.forEach(function(menu){

      %>
      <div class="w-64 mb-16">
        <img class="h-40 mb-4 mx-auto" src="/img/<%= menu.image %>" alt="pizza image">
        <div class="text-center">
          <h2 class="mb-4 text-lg"><%= menu.name %></h2>
          <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= menu.size %></span>
          <div class="flex items-center justify-around mt-6">
            <span class="font-bold text-lg">₹<%= menu.price %></span>
            <button data-food="<%= JSON.stringify(menu) %>" class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
              <span>+</span>
              <span class="ml-4">Add</span>
            </button>
            <% if(user){
              %>
              <% if(user.role === 'admin'){
                %>
                <span>
                  <form method="POST" action="/admin/delete-menu-item/<%= menu.id %>?_method=DELETE" >
                    <button type="submit" class="btn-primary bg-orange-600 px-4 py-1.5 rounded-full text-white font-bold">Delete</button>
                  </form>
                </span>
                <%
              } %>
              <%
            }%>
          </div>
        </div>
      </div>
      <%

    });%>


   


  </div>
</section>