<section class="cart py-16">
    <% if(session.cart && JSON.stringify(session.cart.items) != '{}'){

        %>
        <div  class="order container mx-auto w-1/2">
            <div class="flex items-center border-b border-gray-300 pb-4">
                <img src="/img/cart-black.png" alt="cart image">
                <h1 class="font-bold ml-4 text-2xl">Order summary</h1>
            </div>
            <div class="pizza-list ">
                <% for( let itemArr of Object.values(session.cart.items) ){
                    %>
                    <div class="flex items-center my-8">
                        <img class="w-24" src="/img/<%= itemArr.item.image %>" alt="food item image">
                        <div class="ml-4 flex-1">
                            <h1><%= itemArr.item.name %></h1>
                            <span><%= itemArr.item.size %></span>
                        </div>
                        <span class="flex-1"><%= itemArr.qty %> Pcs</span>
                        <span class="font-bold text-lg"><span>₹</span><%= itemArr.item.price * itemArr.qty %></span>
                        <div class="ml-12">
                            <button data-food="<%= JSON.stringify(itemArr.item) %>" class="delete-from-cart btn-primary bg-orange-600 px-4 py-1 rounded-full text-white font-bold">Delete</button>
                        </div>
                    </div>
                    <%
                }%>
                
            </div>
            <hr>
    
            <div class="py-4 text-right">
                <div>
                    <span class="text-lg font-bold">Total Amount:</span>
                    <span class="amount ml-2 text-2xl font-bold"><span>₹</span><%= session.cart.totalPrice %></span>
                </div>
                
                <% if(user){
                    %>
                    <div>
                        <form action="/orders" method="POST" class="mt-12">

                            <% if(messages.error){
                                %>
                                <div>
                                <span class="text-red-500 text-sm"><%= messages.error %></span>
                                </div>
                                <%
                
                            } %>

                            <input 
                            name="phone"
                            class="border border-gray-400 p-2 w-1/2 mb-4" 
                            type="text"
                            placeholder="Phone number"
                            >
        
                            <input 
                            name="address"
                            class="border border-gray-400 p-2 w-1/2" 
                            type="text"
                            placeholder="Address"
                            >

        
                            <div>
                                <button type="submit" class="btn-primary bg-orange-600 px-6 py-2 rounded-full text-white font-bold mt-6">Order Now</button>
                            </div>
                        </form>
                    </div>
                    <%

                } else{
                    %>
                    <a href="/login" 
                    class="inline-block btn-primary cursor-pointer px-6 py-2 rounded-full text-white font-bold mt-6"
                    >
                    Login to continue</a>
                    <%
                }
                
                %>
                
    
                
            </div>
        </div>
        <%

    } else{

        %>
        <div class="empty-cart py-16">
            <div class="container mx-auto text-center">
                <h1 class="text-3xl font-bold mb-2">Cart Empty 😕</h1>
                <p class="text-gray-500 text-lg mb-12">
                    You probably haven't ordered a pizza yet.<br>
                    To order a pizza, go to the main page.
                </p>
                <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="empty cart image">
                <a href="/" class="btn-primary inline-block px-6 py-2 rounded-full text-white font-bold mt-12">Go back</a>
            </div>
        </div>
        <%

    }%>

    
</section>